@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300&family=Nunito+Sans:opsz,wght@6..12,400;6..12,600&family=Raleway:wght@500&display=swap');

footer{
        background-color: #EEE;
        display: flex;
        flex-wrap: wrap;
}
.colonne{
        display: flex;
        justify-content: space-around;
        padding-bottom:20px ;
        width: 100%;
}
.logoFoot{
        text-decoration: none;
        color: #000;
        font-size: 1.2em;
        font-weight: 600;
        margin-left: 20px;
}
.colonne__1 a{
        text-decoration: none;
        color: #444;
}
.reseaux{
        display: flex;
        gap: 10px;
}
.img__reseaux{
        font-size: 35px;
}
.colonne__2{
        margin-top: 31px;
        color: #444;
}
.colonne__2 a{
        text-decoration: none;
        color: #444;
}
.div__liensUtilies{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
}
.div__liensUtilies img{
        width: 20px;
}

.colonne__3{
        margin-top: 31px;
        color: #444;
}
.colonne__3 a{
        text-decoration: none;
        color: #444;
}
.div__realisations{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
}
.div__realisations img{
        width: 20px;
}

.colonne__4{
        margin-top: 31px;
        color: #444;
}
.colonne__4 a{
        text-decoration: none;
        color: #444;
}
.div__article{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
}
.div__article img{
        width: 20px;
}

footer {
        background-color: #EEE;
        display: flex;
        justify-content: space-around;
        padding-bottom: 20px;
}
    
.logoFoot {
        text-decoration: none;
        color: #000;
        font-size: 1.2em;
        font-weight: 600;
        margin-left: 20px;
}

.copy{
        background-color:#444;
        color:#fff;
        text-align: center;
        width: 100%;
}
.copy p{
        align-items: center;
        margin-top: 10px;
}
@media screen and (max-width: 768px) {
        .colonne {
            flex-direction: column;
            padding-left: 20px;
        }
    
        .colonne__1,
        .colonne__2,
        .colonne__3,
        .colonne__4 {
            margin-top: 20px;
           
        }
    
        .logoFoot {
            margin-left: 0;
            margin-bottom: 10px;
        }
    }
    
@media screen and (max-width: 480px) {
        .div__liensUtilies,
        .div__realisations,
        .div__article {
            flex-direction: column;
        }
    
        .div__liensUtilies img,
        .div__realisations img,
        .div__article img {
            margin-right: 10px;
        }
    }
    