.card{
        text-align: center;
}
.realisation__bloc{
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 60px;
        margin-bottom: 60px;
}
.buttonRealiation{
        background-color: #ffffff00;
        border: solid 1px #0d6efd;
        padding: 5px;
        width: 60px;
        border-radius: 5px;
        margin-bottom: 20px;
}
@media screen and (max-width: 1128px){
        .realisation__bloc{
                gap: 30px;
        }
}
